$color-primary: #ee6e73;

$color-danger:  #f44336;
$color-success: #009688;
$color-white:   #ffffff;
$color-dark:    #2d323e;

// Grey
$color-grey-lighten-2: #e0e0e0;
$color-grey-lighten-5: #fafafa;

$btb-hover:       rgba(0,0,0,.04);
$color-login-bg:  #fff7c4;
